@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 15px;
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}

/* header style */

.nav-container {
  width: 100%;
  justify-content: space-between;
}

.nav-container,
.nav,
.showcase,
.title,
.items {
  display: flex;
}

body {
  max-width: 1440px;
  width: 100%;
}

.nav {
  width: 60%;
  justify-content: flex-end;
  gap: 40px;
}

.navlink {
  text-decoration: none;
}

.navlink p {
  color: var(--White);
  position: relative;
  font-family: "alata", sans-serif;
}

.menu{
  display: none;
}

/* hover effect for navlink */
.navlink p::after {
  content: "";
  width: 100%;
  position: absolute;
  border-bottom: 3px solid red;
  left: 0;
  bottom: -12px;
  scale: 0.6;
  transition: all 500ms ease-in;
}

.navlink p:hover::after {
  opacity: 1;
  scale: 0.5;
}

.header {
  width: 100%;
  min-height: 600px;
  background-image: url(./images/desktop/image-hero.jpg);
  background-size: cover;
  padding: 100px 100px;
}

/* hero section style */
.hero-section {
  width: 550px;
  /* height: 200px; */
  border: 2px solid var(--White);
  padding: 30px;
  margin-top: 50px;
}

.hero-section h2 {
  font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: var(--White);
  font-weight: 300;
}

/* showcase styling */
.showcase {
  width: 100%;
  /* height: 600px; */
  align-items: center;
  /* justify-content: center; */
  padding: 100px;
  position: relative;
}

.showcase div {
  position: absolute;
  width: 600px;
  background-color: var(--White);
  padding: 80px;
  right: 80px;
  bottom: 25px;
  h2 {
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 300px;
    margin-bottom: 25px;
  }

  p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    line-height: 17px;
  }
}

.items {
  flex-wrap: wrap;
  justify-content: space-between;
}
.creation {
  padding: 20, 100px, 100px, 100px;
}

.title {
  justify-content: space-between;

  h2,
  button {
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
  }

  h2 {
    font-size: 40px;
    font-weight: 300;
  }
  button {
    font-size: 13px;
    padding: 2px, 25px;
    font-weight: 400;
    font-family: "Alata", sans-serif;
    background-color: unset;
    margin-bottom: 50px;
    letter-spacing: 5px;
  }

  .botton:hover {
    color: var(--White);
    background-color: var(--Black);
  }
}

.figure {
  width: 256px;
  height: 450px;
  border: 2px solid red;

  p {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    color: var(--White);
    font-weight: 300px;
    font-size: 25px;
    padding: 0 50px;
    position: absolute;
    bottom: 0px;
  }
}

.figure:nth-child(1) {
  background-image: url("./images/desktop/image-deep-earth.jpg");
}
.figure:nth-child(2) {
  background-image: url("./images/desktop/image-night-arcade.jpg");
}
.figure:nth-child(3) {
  background-image: url("./images/desktop/image-soccer-team.jpg");
}
.figure:nth-child(4) {
  background-image: url("./images/desktop/image-grid.jpg");
}
.figure:nth-child(5) {
  background-image: url("./images/desktop/image-from-above.jpg");
}
.figure:nth-child(6) {
  background-image: url("./images/desktop/image-pocket-borealis.jpg");
}
.figure:nth-child(7) {
  background-image: url("./images/desktop/image-curiosity.jpg");
}
.figure:nth-child(8) {
  background-image: url("./images/desktop/image-fisheye.jpg");
}

/* footer styling */
.footer {
  width: 100%;
  background-color: var(--Black);
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: bottom;
}

.right {
  color: var(--White);

  p {
    color: var(--Dark-Gray);
  }
}

.left figure,
.social-icons {
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  position: absolute;
}

.social-icons img::after {
  .navlink p {
    color: var(--White);
    position: relative;
    font-family: "alata", sans-serif;
  }

  /* hover effect for navlink */
  .navlink p::after {
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: 3px solid red;
    left: 0;
    bottom: -12px;
    scale: 0.6;
    transition: all 500ms ease-in;
  }
}

/* attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 850px) {
  .menu {
    display: block;
  }

  .navh{
    display: none;
  }

.footer{
  flex-direction: column;
  align-items: center;
}

.navf{
  flex-direction: column;
  align-items: center;
}

.social-icons{
  justify-content: center;
  margin-top: 50px;
}

.showcase{
  flex-direction: column;
  position: static;

  div{
    position: static;
    text-align: center;
  }

  figure{
    width: 90%;

    img{
      width: 95%
    };
  }
}

.header, .footer, .showcase, .creation{
  padding: 20px;
}

.header {
  background-image: url(./images/mobile/image-hero.jpg);
  /* padding: 100px 100px; */
}

/* hero section style */
.hero-section {
  width: 100%;
}

.hero-section h2 {
  font-size: 45px;
}


}